[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
pipenv-to-requirements = "*"

[packages]
django = "==2.2.13"
djangorestframework = "*"
pandas = "*"
requests = "*"
pyjwt = "*"
drf-yasg = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
