container_commands:
  01_migrate:
    command: "django-admin migrate"
  02_createsu:
    command: "django-admin createsu"
  03_get_stock_data:
    command: "django-admin update_data"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings